.lpol{
    height:200px;
    width:100%;
    background-color: beige;
    color: cornflowerblue;
    
}
.lpol h1{
 
    font-weight:900px;

}
.lpol p{
  margin-top: 50px;
}
.cardall{
    display: grid;
    
   
}
.locard{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2,1fr); 
}
.cardall button{
  background: #1bbbf5;
  text-align: center;
  margin: 25px auto;
  width: 320px;
  color: #fff;
  font-size: 1.7rem;
  padding-top: 8px;
  border-radius: 5px;
  height: 45px;
  box-sizing: border-box;
}




/* CredPage */

.cmain{
  display:flex;
  gap:20px;
  width: 80%;
  margin: auto;
  margin-top: 50px;

}
.datar{
  display:grid;
  grid-template-columns: repeat(3,1fr);
  gap:20px
}
.mkl{
  margin-top:250px;
  

}